@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden; /* hide horizontal scrollbar */
}

/* header - start*/
.logo {
  display: flex;
  display: -webkit-flex;
  width: 75%;
  cursor: pointer;
}

header {
  width: 100%;
  min-height: 66px;
  padding: 40px 10%;
  display: flex;
   display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  float: left;
}

header ul li a {
  color: #A2D2FF; /* light blue */
  padding: 10px 25px;
  text-decoration: none;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

header ul li a:hover {
  color: #0080FF; /* dark blue */
  transition: 0.4s;
}

header ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: #FFF; /* white */
  display: none;
}

header ul li:hover ul{
  display: block;
}

header ul li ul li {
  position: relative;
  width: 100%;
}

.fa-solid, .fas {
  align-self: center;
}
/* header - end */

/* footer - start */
footer {
  margin-top: 4vw;
  background-color: rgba(252, 225, 228, 0.4); /* light pink */
  color: #A2D2FF; /* light blue */
}

.footer-container {
  width: 100%;
  padding-top: 45px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  font-size: 20px;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 5px;
}

.social-icons a i {
  color: #A2D2FF; /* light blue */
}

/* hover effect on social media icons */
.social-icons a:hover i{
  color: #0080FF; /*dark blue*/
  transition: all 0.4s;
}

.footer-bottom {
  padding-top: 5px;
  padding-bottom: 45px;
  text-align: center;
}

.footer-bottom p {
  color: #A2D2FF;
  font-size: 12px;
}
/* footer - end */


/* HOME - start */

/*  grid layout */
#home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.4fr 0.5fr 0.6fr 0.5fr 0.5fr;
  grid-template-areas:
    "purple purple . blue blue"
    "purple purple . blue blue"
    ". jayine jayine jayine ."
    "yellow yellow . pink pink "
    "yellow yellow . pink pink ";
  padding-bottom: 50px;
}

.home-div1 { grid-area: purple; }
.home-div2 { grid-area: blue; }
.home-div3 { grid-area: jayine; }
.home-div4 { grid-area: yellow; }
.home-div5 { grid-area: pink; }

/* for the blob images */
.blob-left {
  object-fit: cover;
  width: 90%;
}

.blob-right {
  object-fit: cover;
  width: 90%;
  justify-self: end;
}

/* for the "jayine nguyen" image */
.jayine-home {
  object-fit: cover;
  width: 100%;
}

.jayine-home p {
  font-size: 19px;
  text-align: center;
  background-image: linear-gradient(45deg, #FFAFCC, #A2D2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.zoom {
  transition: transform .5s ease; /* animation */
}

.zoom:hover {
  transform: scale(1.2);
  display: inline;
}

/* HOME - end */


/* ABOUT ME - start */

#about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  grid-template-areas:
    "hello hello headshot"
    "bio bio headshot";
  padding: 40px 10%;
}

#about-div1 {
  grid-area: hello;
  width: 50%;
}

#about-div2 {
  grid-area: headshot;
  align-self: center;
}

#headshot {
  width: 100%;
}

#about-div3 {
  grid-area: bio;
  width: 90%;
  margin-bottom: 30px;
  color: #A2D2FF; /* light blue */
}

/* ABOUT ME - end */


/* MY WORK - start */

.page-title > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  object-fit: cover;
}

.three-columns-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vw 5vw;
  padding-top: 40px;
  padding-bottom: 40px;
}

.three-columns-grid > img {
  width: 100%;
  height: auto;
}

/* DESIGN - start */
.overlay-container {
  position: relative;
}

.overlay-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5 ease;
  backface-visibility: hidden;
}

.overlay-effect {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-container:hover .overlay-image {
  opacity: 0.3;
}

.overlay-container:hover .overlay-effect {
  opacity: 1;
}

.overlay-text {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}

/* DESIGN - end */

/* ART - start */

#art-gallery {
  column-count: 3;
  column-gap: 5vw;
  line-height: 10vw;
  padding-top: 40px;
}

#art-gallery > img {
  width: 100%;
}

/* ART - end */

/* MY WORK - end */


/* INDIVIDUAL WORK - start */

.two-columns-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr));
  grid-gap: 70px 70px;
  padding-top: 40px;
  padding-bottom: 3vw;
}

.two-columns-grid > img {
  width: 100%;
  height: auto;
}

.body-div {
  padding: 40px 10%;
  padding-bottom: 3vw;
}

.information {
  padding-top: 40px;
}

.information > .three-columns-grid {
  padding-top: 0; /*remove the padding from .three-columns-grid for this specific page */
}

.section-title {
  display: block;
  padding-top: 70px;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 70px;
  place-items: center;
}

.banner > img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 40px;
}

h2.section-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}

h3 {
  font-size: 12px;
  font-weight: 500;
}

p {
  line-height: 35px;
}

hr {
  border-top: 3px solid #A2D2FF; /*light blue*/
  width: 20%;
}

h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 8px;
}

/* NYU Welcome 2023 - start */

#nyu-welcome-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "description logo";
  grid-gap: 70px;
  align-items: center;
}

#nyu-welcome-description {
  grid-area: description;
}

.logo-title-grid {
  grid-area: logo;
  display: grid;
  grid-template-rows: 0fr 0fr;
  place-items: center;
}

.logo-title-grid > img {
  object-fit: cover;
  width: 60%;
  padding-bottom: 8px;
}

.logo-title-grid > h3 {
  text-align: center;
}

/* NYU Welcome 2023 - end */

/* Elysium Cat Cafe - start */

#elysium-two-cols-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "solid-icon outline-icon";
  grid-gap: 70px;
  align-items: center;
}

#img-two-grid > img {
  width: 100%;
  height: auto;
}

#solid-icon {
  grid-area: solid-icon;
}

#outline-icon {
  grid-area: outline-icon;
}

#elysium-three-cols-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "wireframes hifi-proto mockup";
  align-items: center;
}

#wireframes {
  grid-area: wireframes;
}

#hifi-proto {
  grid-area: hifi-proto;
}

#mockup {
  grid-area: mockup;
}

.stage-grid {
  grid-area: logo;
  display: grid;
  grid-template-rows: 0fr 0fr;
  place-items: center;
}

.stage-grid > img {
  object-fit: cover;
  width: 95%;
  padding-bottom: 8px;
}

/* Elysium Cat Cafe - end */

/* 3D Modeling - start */

#yotsuba-inspo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0fr);
  grid-template-areas:
    "manga-cover fanmade"
    "manga-cover black-white";
  grid-column-gap: 70px;
  grid-row-gap: 70px;
}

#cover {
  grid-area: manga-cover;
}

#fanmade {
  grid-area: fanmade;
}

#black-white {
  grid-area: black-white;
}

#cover > img, #fanmade > img, #black-white > img {
  object-fit: cover;
  width: 100%;
}

/* 3D Modeling - end */

/* INDIVIDUAL WORK PAGES */

/* medium-sized screens */
@media only screen and (max-width: 1100px) {

  /* header - start */

   header nav {
    position: absolute;
    width: 100%;
    top: 110px;
    left: 0;
    background: #FFF; /* white */
    display: none;
    z-index: 1
  }

  header.active nav {
    display: initial;
  }

  header nav ul li {
    width: 100%
  }

  header ul li a {
    padding: 10px 10% 10px 10%;
    justify-content: normal;
  }

  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }

  header ul li ul li {
    top: 0;
    left: 0;
  }

  header nav li:hover ul li {
    background: #FFF; /* white */
  }

  .menuToggle {
    position: relative;;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    z-index: 2;
  }

  .menuToggle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #A2D2FF; /* light blue */
    border-radius: 3px;
    transform: translateY(-12px);
    box-shadow: 0 12px #A2D2FF; /* light blue */
  }

  .menuToggle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #A2D2FF; /* light blue */
    border-radius: 3px;
    transform: translateY(12px);
  }

  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #000;
  }

  header.active .menuToggle::after {
    transform:rotate(315deg);
  }

  /* header - end */
  .three-columns-grid { /* change to two columns in smaller screen */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vw 2vw;
  }

  .logo-title-grid > img {
    width: 70%;
  }

  #home-grid {
    grid-template-rows: 0.5fr 0.5fr 0fr 0.5fr 0.5fr;
  }

  #about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr;
    grid-template-rows: 0fr 0fr;
    grid-template-areas:
      "hello hello headshot"
      "bio bio headshot";
    padding: 40px 10%;
  }

  #about-div1 {
    width: 65%;
  }

  #about-div3 p {
    font-size: 11px;
    line-height: 25px;
  }

  #art-gallery {
    column-count: 2;
    column-gap: 2vw;
    line-height: 8vw;
  }

  #nyu-welcome-grid {
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
    "description logo";
  }

}

/* grid on small screens */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 12px;
    line-height: 25px;
  }

  .two-columns-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .logo-title-grid > img {
    width: 50%;
  }

  #home-grid {
    grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
  }

  .jayine-home p {
    font-size: 10px;
  }

  #about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr 0fr;
    grid-template-areas:
      "hello"
      "headshot"
      "bio";
    padding: 40px 10%;
  }

  #about-div1 {
    width: 90%;
    justify-self: center;
  }

  #about-div2 {
    width: 80%;
    justify-self: center;
  }

  #about-div3 {
    width: 100%;
  }

  #nyu-welcome-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr;
    grid-template-areas:
      "logo"
      "description";
    grid-gap: 50px;
  }

}
